<%@ page language="java" contentType="text/html; charset=UTF-8"
         pageEncoding="UTF-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ include file="System.jspf" %>
<%@ taglib prefix="r" uri="/WEB-INF/tld/rol.tld" %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<c:if test="${empty language}">
    <c:set var="language" value="ru" scope="page"/>
</c:if>

<div class="topnav">
    <a href="http://localhost:8080/home.jsp"><fmt:message key="home.topnav.home"/> </a>
    <div class="dropdown">
        <button class="dropbtn"><fmt:message key="home.topnav.service"/>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="tariff.jsp?tariff=1">TV</a>
            <a href="tariff.jsp?tariff=2">Phone</a>
            <a href="tariff.jsp?tariff=3">Internet</a>
        </div>
    </div>
    <c:if test="${not empty user}">
        <a href="proffile.jsp"><fmt:message key="home.topnav.provile"/></a>
    </c:if>
    <c:if test="${not empty user and user.status eq 'Admin'}">
        <div class="dropdown">
            <button class="dropbtn"><fmt:message key="home.topnav.admin"/>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="add_user.jsp"><fmt:message key="administartion.href.add_user"/> </a>
                <a href="Controller?command=get_all_user"><fmt:message key="administartion.button.all_user"/></a>

            </div>
        </div>
    </c:if>

    <c:if test="${not empty user}">
        <a href="http://localhost:8080/Controller?command=logout" style="float:right"><fmt:message key="home.topnav.quit"/></a>
    </c:if>

    <c:if test="${empty user}">
        <a href="http://localhost:8080/login.jsp" style="float:right"><fmt:message key="home.topnav.enter"/></a>
    </c:if>
</div>





