* {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#main-heading h1 {
    margin-top: 100px;
    text-align: center;
}

#main-heading p {
    margin: 30px auto 0;
    width: 500px;
    text-align: center;
}

form input[type=text],
form input[type=password],
select {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body{
    background-image: url("doodles.png");
}

form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login_form_error input {
    border: 1px solid red !important;
}

select {
    float: right;
    width: 6%;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#login_form [type=submit]:hover {
    background-color: #45a049;
}

#modal {
    width: 300px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #e5def2;
    padding: 20px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav input[type = submit]{
    float: right;
    display: block;
    overflow: hidden;
    text-align: center;
    border: none;
    color: #f2f2f2;
    background-color: #333;
    cursor: pointer;
    padding: 14.5px 16px;
    text-decoration: none;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 15px;
}
.topnav input[type = submit]:hover{
    background-color: #ddd;
    color: black;
    border: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}


.panel {
    padding: 0 18px;
    width: 37.3%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar :hover, .dropdown:hover .dropbtn {
    color: black;
    background-color: #ddd;

}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    background-color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.buttons {
    overflow: hidden;
    margin-top: 30px;
}

.btn {
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 90px;
    display: inline-block;
    text-decoration: none;
}

.btn-delete {
    background: #ff383f;
    text-transform: uppercase;
    text-align: center;
    float: right;
}

.btn-update {
    background: #4879ff;
    text-transform: uppercase;
    text-align: center;
}

.btn-enable {
    background: #4CAF50;
    text-transform: uppercase;
    text-align: center;
}

.tariff {
    width: 500px;
    margin: 0 auto 10px;
    padding: 20px;
    border: 1px solid black;
    background: white;
    border-radius: 4px;
}

.tariff img {
    position: relative;
    top: 9px;
    margin: 0 10px;
    width: 17px;
    border: 1px solid grey;
    border-radius: 30%;
    padding: 6px;
}

#btn-download,
#btn-add-service {
    margin: 10px auto;
    display: block;
    width: 525px;
    overflow: hidden;
}

#btn-add-service {
    overflow: visible !important;
}

.main-table {
    width: 700px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    border-radius: 4px;
}

.main-table table {
    width: 100%;
    border-radius: 10px;
    border-spacing: 0;
}

.main-table th {
    text-align: left;
    padding: 10px;
    background: #3cb82f;
    margin: 0;
    color: white;
}

.main-table th:first-child {
    border-top-left-radius: 5px;
}

.main-table th:last-child {
    border-top-right-radius: 5px;
}

.main-table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.main-table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.main-table tr:nth-child(2n+1) td {
    background: #e4e4e4;
}

.main-table td {
    padding: 0 20px;
    background: #c8c8c8;
}